*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container{
  width: 1140px;
  /* height: 50px; */
  background-color: blue;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.row{
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  flex-wrap: wrap;
}
.logo{
  width: 10%;
}
img{
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
}
.w{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.ullist{
  display: flex;
}
.align-item-center{
  align-items: center;
}
.li{
  display: flex;
  list-style: none;
}

.astyle{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}
